{% load admin_list %}
{% load i18n %}
<p class="paginator">
{% if pagination_required %}
{% for i in page_range %}
    {% paginator_number cl i %}
{% endfor %}
{% endif %}
{% blocktranslate count count=cl.result_count with name=cl.opts.verbose_name name_plural=cl.opts.verbose_name_plural trimmed %}
  {{ count }} {{ name }}
  {% plural %}
  {{ count }} {{ name_plural }}
{% endblocktranslate %}
{% if show_all_url %}<a href="{{ show_all_url }}" class="showall">{% translate 'Show all' %}</a>{% endif %}
{% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% translate 'Save' %}">{% endif %}
</p>
